.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex: none;
  padding: 4px;
}
