.MessageEntry {
  flex: 0 0 none;
}

.MessageEntry {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  background-color: #d5dade;
  padding: 5px;
}

.MessageEntry form {
  display: contents;
}

.MessageEntry textarea {
  flex: 1;
}
