.Message {
  margin: 4px;
  text-align: left;
}

.Message.fromSelf {
  margin: 5px;
  padding: 4px;
  border: 1px solid #d5dade;
}

.Message.isNew {
  animation-duration: 1.5s;
  animation-name: Message-newFlash;
}

@keyframes Message-newFlash {
  from {
    background-color: #fffac100;
  }
  25% {
    background-color: #fffac1ff;
  }
  to {
    background-color: #fffac100;
  }
}

.Message-user,
.Message-timestamp {
  font-size: 0.7em;
  opacity: 0.6;
}
